body {
  background-color: #8ccbbe;
}

.section-padding{
  padding-top: 50px;
  padding-bottom: 50px;
}

.utils {
  margin-bottom: 50px;
  display: flex;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  align-items: center;
}

.utils select {
  margin-top: 15px;
}

.utils > * {
  margin-right: 20px;
}

.card-item {
  display: flex;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 50px;
  align-items: center;
}

.card-desc {
  margin-left: 20px;
}

.card-desc ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #303960;
  border-bottom: 1px solid #303960;
  border-left: 1px solid #303960;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-desc ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #303960;
  font-weight: bold;
}

.card-desc ul li img{
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
}

.card-desc ul li:first-child {
  padding-left: 20px;
}

.card-desc ul li:last-child {
  margin-right: 0;
}

.form-container {
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.card-item h4{
  margin-top: 20px;
}

.card-item img {
  height: 250px;
}

@media (min-width: 320px) and (max-width: 1024px){
  .container {
    max-width: 600px;
  }

  .card-item {
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 50px;
  }

  .utils {
    flex-wrap: wrap;
  }
  
  .utils * {
    width: 100%;
    margin-right: 0;
  }

  .utils > * {
    margin-bottom: 20px;
  }

  .utils > *:last-child {
    margin-bottom: 0;
  }

  .card-item img {
    margin-left: auto;
    margin-right: auto;
  }

  .card-item ul {
    flex-wrap: wrap;
  }

  .card-item.spell ul,
  .card-item.trap ul {
    width: 70%;
  }

  .card-item.spell ul li,
  .card-item.trap ul li{
    flex: 50%;
  }

  .card-item ul li {
    flex: 33.33%;
    border: none;
    padding: 10px;
    margin: 0;
    text-align: center;
    border: 1px solid #303960;
  }

  .card-desc ul li:first-child {
    padding-left: 0;
  }

  .card-desc {
    margin-left: 0;
    width: 100%;
  }

  .card-desc ul {
    border-left: none;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card-item img {
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 767px){
  .card-item.spell ul,
  .card-item.trap ul {
    width: 100%;
  }

  .utils select {
    margin-top: 0;
  }

  .card-item.spell ul li,
  .card-item.trap ul li{
    flex: 100%;
  }

  .card-item ul li {
    flex: 50%;
  }
}